.stock_exchange{
    /* border:2px solid red; */
    padding-top:4rem;
    margin: 0 auto;
}


.stock_exchange_container{
    width:80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* border:2px solid yellow; */
    padding: 2rem;
}

.container_form{
    display: flex;
    /* border:2px solid green; */
    align-items: center;
    /* justify-content: flex-start; */
    /* width:50%; */
    
}

.container_form_col-1{
    width: 100%;
    margin-left: 1rem;
    border-radius: 40px;
    padding: 24px 16px;
    text-align: center;
    border:1px solid #CCCCCC;
    display: flex;

   

}


.container_form_input_search{
    /* border-radius: 40px; */
    /* padding: 34px 34px 0px 16px; */
    text-align: center;
    border: none;
    font-size:18px;
    align-items: center;



    
    /* border:2px solid red */

}

.container_form_input_search:focus{
    outline:none !important;
}



.container_form_col-2{
    width: 100%;
    margin-left: 1rem;
    min-width: 180px;
    /* border-radius: 40px;
    padding: 5px 5px 30px 30px; */
    /* text-align: center; */
    /* border:1px solid #CCCCCC; */
   
    display: flex;

}

.form_btn{
    width: 100%;
    margin-left: 1rem;
    border-radius: 40px;
    padding: 20px 12px;
    text-align: center;
    border:1px solid #CCCCCC;
    text-align: center;
    align-items: center !important;
    background-color:#000000;
    color: white;
    font-size:18px;
    
}

.form_btn:focus{
    background-color: orange;
    outline: none;
}